body {
  height: 100vh;
  background-color: rgb(105, 26, 26);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}
button {
  display: flex;
  color: lightblue;
  background: transparent;
  border: transparent;
}

.wrapper {
  height: 100%;
  color: lightblue;
  display: flex;
  flex-flow: column wrap;
  font-weight: bold;
  text-align: center;
  justify-content: space-evenly; /*
    align-items: stretch;
    align-content: stretch; */
}
.header {
  height: 10vh;
  font-size: 6vh;
}
.main {
  display: flex;
  height: 10vh;
  font-size: 10vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
.listabotones {
  height: 10vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
}
.listabotones div:hover {
  background: #1565c0;
}
.boton {
  display: flex;
}
#start,
#stop,
#reset {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.imagen {
  height: 10vh;
}
